
<div class="col-lg-10 mx-auto p-3 py-md-5">
    <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
      <div class="container">
        <nav class="navbar sticky-top navbar-expand-lg navbar-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logo.jpg' %}" alt="WellnessClinix" height="100"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="about-us.html">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="internships.html">Consultations</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="internships.html">Find A Doctor</a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link">Contact Us</a>
                </li>
              </ul>


              <a class="nav-text" aria-current="page" href="{% url 'login' %}">Login</a>


              <a class="btn btn-primary btn-md" aria-current="page" href="{% url 'register' %}">Sign Up</a>

            </div>
          </div>
        </nav>
      </div>
    </header>