{% include 'includes/navbar.html' %}


<main>
	<div class="for-employers">
    <div id="overlay">

        <form name="form2" method="post" action="{{ url_for('back_pain') }}">
            {{ form.csrf_token }}

            <h4>If you experience back pain</h4>
                <h5>1.	Do you experience any of the following:
                </h5>
              <p>
                Leaking of urine or difficulty urinating?
                  {% for subfield in form.radio1 %}
                <div class="form-check">
                 <label>
                {{ subfield }}
                  {{ subfield.label }}</label>
                </div>
                {% endfor %}

                <br>
                Leaking of faeces or constipation?
                {% for subfield in form.radio2 %}
                <div class="form-check">
                 <label>
                {{ subfield }}
                  {{ subfield.label }}</label>
                </div>
                {% endfor %}
                <br>
                Loss of power in your lower limbs?
            {% for subfield in form.radio3 %}
                <div class="form-check">
                 <label>
                {{ subfield }}
                  {{ subfield.label }}</label>
                </div>
                {% endfor %}
                <br>
                Numbness on the inside of the thigh?
                {% for subfield in form.radio4 %}
                <div class="form-check">
                 <label>
                {{ subfield }}
                  {{ subfield.label }}</label>
                </div>
                {% endfor %}
                <br>
                Abnormal sensation when wiping after using the toilet ?
                {% for subfield in form.radio5 %}
                <div class="form-check">
                 <label>
                {{ subfield }}
                  {{ subfield.label }}</label>
                </div>
                {% endfor %}
                <br>
                <label>
              <input class="btn btn-primary" type="submit" name="next" id="next" value="Submit">
              </label>
              </p>

              
            </form>
           
        </div>
</div>
{% include 'includes/alerts.html' %}




</div>


</main>

{% include 'includes/footer.html' %}