{% include 'includes/navbar.html' %}


<main>
    <div class="for-employers">
    <div id="overlay">

        <h3>
        -HBA1C  :&nbsp; every 3 months <br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  When value is less than 7%, do test every 6 months  <br />
        <br />
        -Fasting cholesterol test: once a year <br />
        <br />
        -Kidney tests : once a year<br />
        <br />
        -Urine dipstick : once a year <br />
        <br />
        -Eye exam :&nbsp; if diabetic eye disease present - yearly <br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  : if no diabetic&nbsp; eye disease - every 2 years <br />
        <br />
        -Foot exam : yearly <br />
        <br />
        <br />
        -Dental exam: twice a year <br /></h3>

        </div>
</div>





</div>


</main>

{% include 'includes/footer.html' %}