{% include 'includes/navbar.html' %}

<main>
	<div class="for-employers">
    <div id="overlay">

        <h1>BIOKINETICS </h1>
 <h2>- Aerobics </h2>
 <h2> -Strength (Resistance ) </h2>
 <h2> -Flexibility</h2>
 <h3>- Heart association recommendations 
   - 75 minutes vigorous intensity aerobic 
   Or 
   -150 minutes of moderate intensity aerobic exercise 
   
   AND 
   
   -2 days per week Strength training of moderate to high intensity.   </h3>
 <h3>Calculating exercise intensity   </h3>
 <h3>1st - maximum heart rate calculation = 220 beats/min – age   </h3>
 <h3>2nd – calculate exercise intensity as below   </h3>
 <h3>-Moderate intensity  = 50 - 70% max Heart Rate </h3>
 <h3> -Vigorous intensity  = 70 -85% max heart rate </h3>
	</div>
</div>




</div>


</main>


  {% include 'includes/footer.html' %}
