{% include 'includes/navbar.html' %}

<main>
	<div class="for-employers">
    <div id="overlay">

        <h1><strong><u>FASTING </u></strong><br />
        </h1>
         <ul>
           <li>
             <h2>Benefits of fasting</h2>
           </li>
           <li>Optimum health (pic)</li>
           <li>Reversing obesity (pic)</li>
           <li>Reversing hypertension (pic)</li>
           <li>Reversing diabetes (pic)</li>
           <li>Reversing cancer (pic)</li>
         </ul>
         <p>&nbsp;</p>
         <ul>
           <li>
             <h2>Types of fasting </h2>
           </li>
           <li><strong>Simple fast:</strong> pic of a picture reducing  their daily intake by one third.</li>
           <li><strong>Intermittent (daily fast)</strong>: pic with  clock with person not eating for 16 hours but healthy &amp; strong, then other  8 hours eating</li>
           <li><strong>3 day(once a month)</strong> <strong>fast</strong>: pic showing person on 3 different days, day 1: body full of  toxins starting to be washed out, day 2: half the toxins washed out, day 3:  three quarters of the toxins washed out.</li>
           <li><strong>7 day(once every 4 months) fast:</strong> pic  showing person with the remainder of the toxins amounting to three quarters  being washed out.</li>
         </ul>
	</div>
</div>




</div>


</main>

{% include 'includes/footer.html' %}