{% include 'includes/navbar.html' %}

<main>
	<div class="for-employers">
    <div id="overlay">
    {% include 'includes/alerts.html' %}
        <form method="post" action="{{ url_for('female_urinary') }}">
            {{ form.csrf_token }}
            <h4>For women experiencing difficulty controlling their urine which results in leaks?</h4>
            <br>
                <h5>1.	Do you experience any of the following:
                </h5>
                <br>
              <p>
                Loss of control of your bowel with fecal incontinence?
                  {% for subfield in form.radio6 %}
                  <div class="form-check">
                 <label>
                {{ subfield }}
                  {{ subfield.label }}</label>
                </div>
                {% endfor %}
                <br>
                Continuous leakage of urine with no pause?
                {% for subfield in form.radio7 %}
                  <div class="form-check">
                 <label>
                {{ subfield }}
                  {{ subfield.label }}</label>
                </div>
                {% endfor %}
                <br>
                Repeated bladder or kidney infections?
                {% for subfield in form.radio8 %}
                  <div class="form-check">
                 <label>
                {{ subfield }}
                  {{ subfield.label }}</label>
                </div>
                {% endfor %}
                <br>
                <br>
                <label>
              <input class="btn btn-primary" type="submit" name="next" id="next" value="Submit">
              </label>
              </p>

              
            </form>
           
        </div>
</div>





</div>


</main>

{% include 'includes/footer.html' %}
