{% include 'includes/navbar.html' %}

<main>
	<div class="for-employers">
    <div id="overlay">

        <h1>DIET </h1>

        <h2>- Most medicines are consumed via the mouth&nbsp;<br />
        
      </h2>
      <ul>
        <li>
          <h3>Plant based diet </h3>
        </li>
        <li>
          <h3>Vegetarian diet </h3>
        </li>
        <li>
          <h3>DASH diet </h3>
        </li>
      </ul>
      <ul><li>
        <h3>Mediterranean </h3>
      </li>
        <li>
          <h3>Paleo </h3>
        </li>
        <li>
          <h3>Flexitarian </h3>
        </li>
        <li>
          <h3>Keto diet </h3>
        </li>
      </ul>
	</div>
</div>




</div>


</main>

{% include 'includes/footer.html' %}