{% include 'includes/navbar.html' %}

<main>
	<div class="for-employers">
    <div id="overlay">

        <h1>NON COMMUNICABLE DISEASE (NCDS) </h1>
        <p>Disease which are not due to infection.
          
          - result in 70% of worldwide preventable deaths</p>
        <h2> FACTORS LEADING TO NCDS   </h2>
        <h3>- Inactivity 
          
          --> </h3>
        <p>increased risk of NCDS by 20 -30% </p>
          
          <h3>-Waist circumference
          
          --></h3>
          <p>Waist circumference > 88cm in women,   </p>
          
         <h3>-  Body Mass Index BMI ( weight (kg) / height squared) </h3>
          
          <p>*> 25 : overweight  
          * >30: obese  
          <p>
          
          <h3>- Alcohol</h3>
          
          <p>
          *women : allowed 14 units per week 
          *men      : allowed 21 units per week</p>
          
          <h3>Cigarettes </h3>
	</div>
</div>




</div>


</main>

{% include 'includes/footer.html' %}