{% include 'includes/navbar.html' %}


<main>
    <div class="for-employers">
    <div id="overlay">

        <h3>
        HYPERTENSIVE PATIENTS<br />

<em>Each visit</em> <br />
<br />
-weight <br />
<br />
-waist circumference<br />
<br />
-Body mass index (BMI) <br />
<br />
<br />
<em>Annual</em> tests<br />
<br />
- random cholesterol<br />
<br />
- kidney blood tests<br />
<br />
- Urine <br />
<br />
-fasting glucose: if diabetic<br />
<br />
- ECG if Doctor states patient has&nbsp; High risk of heart problems <br /></h3>

        </div>
</div>





</div>


</main>

{% include 'includes/footer.html' %}