{% include 'includes/navbar.html' %}

<main>
	<div class="for-employers">
    <div id="overlay">

        <h1>AGE SPECIFIC SELF CHECK </h1>
 <h2> In men   </h2>
 <h3>18- 39        testicular exam   </h3>
 <h3>20's             cholesterol test   </h3>
 <h3>35               cholesterol  test  and if results: 
   -abnormal : recheck annualy 
   - normal     :check every 5 years   </h3>
 <h3>40               prostate cancer screening if black/ or have a family history   </h3>
 <h3>45               prostate cancer   </h3>
 <h3>50              colonoscopy   </h3>
 <h3>65              bone density evaluation, then every 2-5 years thereon. </h3>
 <p>&nbsp;</p>
 <h2><strong><u>FEMALE  HEALTH SCREENING </u></strong></h2>
 <h3><em>Age  13-17</em></h3>
 <ul>
   <li>HPV vaccine </li>
   <li>BP screen </li>
   <li>Cholesterol screen </li>
   <li>Health education on smoking,  drinking, vaping, mental health, breast self examination</li>
 </ul>
 <p>&nbsp;</p>
 <h3><em>Age  20’s and 30’s </em></h3>
 <ul>
   <li>Annual GP Visit</li>
   <li>Annual BP screen </li>
   <li>Cervical cancer screening  every 3 years </li>
   <li>&lt;25 and sexually active :  annual STI screen </li>
   <li>&gt;25 with new/multiple sexual  partners: annual STI Screen</li>
   <li>Genetic testing if 1st  degree relative with cancers in the following regions </li>
 </ul>
 breast ,ovary, cervix,colon
 <h3><br />
   <em>Age  40’s and 50’s</em></h3>
 <ul>
   <li>Annual GP visit</li>
   <li>Annual routine blood tests  including cholesterol </li>
   <li>PAP TEST &amp; Pelvic exam</li>
 </ul>
 <p>-every 3 years: cervical  cancer<br />
   -every 5 years:HPV</p>
 <h3>40-44 </h3>
 <ul>
   
   <li>: annual mammogram </li>
   
 </ul>
 <h3>45+     
 </h3>
 <li>: Breast cancer annual screen </li>
 <li>:colonoscopy every 10 years</li>
 <h3>55+
 </h3>
 <ul>
   <li>      : Breast cancer screen every 2 years</li>
 </ul>
 <h3>Age 60+</h3>

 <ul>
   <li>Annual blood tests and  cholesterol</li>
   <li>Cardiology screen </li>
   <li>Colonoscopy every 10 years</li>
   <li>Bone mineral density every 15  years, sooner if drinks,smokes or has fam history of hip fracture in a parent.</li>
 </ul>
	</div>
</div>




</div>


</main>

 {% include 'includes/footer.html' %}
