{% include 'includes/navbar.html' %}



<main>
	<div class="for-employers">
    <div id="overlay">

        <form name="form1" method="post" action="{{ url_for('skin_care') }}">
            {{ form.csrf_token }}
            <h4>Which best describes your skin?</h4>
              <p>

                {% for subfield in form.certification %}
                <div class="form-check">
                 <label class="form-check-label">
                {{ subfield }}
                  {{ subfield.label }}</label>
                <br>
                </div>
                {% endfor %}
                <br>
                <label>
              <input class="btn btn-primary" type="submit" name="next" id="next" value="Submit">
              </label>
              </p>

              
            </form>
           <div>{{ messages_r }}</div>
	</div>
</div>
{% include 'includes/alerts.html' %}




</div>


</main>






{% include 'includes/footer.html' %}