{% extends 'base.html' %}
{%load static%}


{% block content %}



<main>
	<div class="container-hmpg">

	  <img src="{% static 'images/homepage2.png' %}" alt="" width="100%" height="450px">
	  <a href="{% url 'general_info' %}"><div class="cloud-item">General Health Information</div></a>
	  <a href="{% url 'exercise' %}"><div class="cloud-item2">Exercise</div></a>
	  <a href="{% url 'fasting' %}"><div class="cloud-item3">Fasting</div></a>
	  <a href="{% url 'self_check' %}"><div class="cloud-item4">Self Check; Male/Female</div></a>
	  <a href="{% url 'food' %}"><div class="cloud-item5">Food</div></a>
	  <a href="{% url 'sleep' %}"><div class="cloud-item6">Sleep</div></a>
	</div>
	<div class="container" style="padding: 150px 5px">
	  <div class="container-self">
		<div id="overlay">


		  <h1>Self Management</h1>
		  <div class="row">
			<div class="card" style="width: 17rem; margin:20px;">
			  <img src="{% static 'images/acne.jpg' %}" class="card-img-top" alt="...">
			  <div class="card-body">
				<h5 class="card-title">Skin</h5>
				<a href="{% url 'skin_care' %}" class="btn btn-outline-primary btn-lg px-4">Consult</a>
			  </div>
			</div>
			<div class="card" style="width: 17rem; margin:20px;">
			  <img src="{% static 'images/backpain.jpg' %}" class="card-img-top" alt="...">
			  <div class="card-body">
				<h5 class="card-title">Back & Neck Pain</h5>
				<a href="{% url 'back_pain' %}" class="btn btn-outline-primary btn-lg px-4">Consult</a>
			  </div>
			</div>
			<div class="card" style="width: 17rem; margin:20px;">
			  <img src="{% static 'images/female-urinary.jpg' %}" class="card-img-top" alt="...">
			  <div class="card-body">
				<h5 class="card-title">Female Urinary</h5>
				<a href="{% url 'female_urinary' %}" class="btn btn-outline-primary btn-lg px-4">Consult</a>
			  </div>
			</div>
		  </div>
		  <div class="row">
			<div class="card" style="width: 17rem; margin:20px;">
			  <img src="{% static 'images/male-wellness.jpg' %}" class="card-img-top" alt="...">
			  <div class="card-body">
				<h5 class="card-title">Male Wellness</h5>
				<a href="#" class="btn btn-outline-primary btn-lg px-4">Consult</a>
			  </div>
			</div>
			<div class="card" style="width: 17rem; margin:20px;">
			  <img src="{% static 'images/diabetes.jpg' %}" class="card-img-top" alt="...">
			  <div class="card-body">
				<h5 class="card-title">Diabetes</h5>
				<a href="#" class="btn btn-outline-primary btn-lg px-4">Consult</a>
			  </div>
			</div>
			<div class="card" style="width: 17rem; margin:20px;">
			  <img src="{% static 'images/hypertension2.jpg' %}" class="card-img-top" alt="...">
			  <div class="card-body">
				<h5 class="card-title">Hypertension</h5>
				<a href="#" class="btn btn-outline-primary btn-lg px-4">Consult</a>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>


	<div class="container px-4 py-5" id="hanging-icons">
	  <h2 class="pb-2 border-bottom">Online Consultations</h2>
	  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
		<div class="col d-flex align-items-start">
		  <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
			<svg class="bi" width="1em" height="1em">
			  <i class="fa-solid fa-circle-check "></i>
			</svg>
		  </div>
		  <div>
			<h4>Mens Consultation</h4>
			<p>Website Development, Progamming, Graphic Design and a lot more.</p>
			<a href="interships.html" class="btn btn-outline-primary">
			  Consult
			</a>
		  </div>
		</div>
		<div class="col d-flex align-items-start">
		  <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
			<svg class="bi" width="1em" height="1em">
			  <i class="fa-solid fa-circle-check "></i>
			</svg>
		  </div>
		  <div>
			<h4>Skin Doctor</h4>
			<p>Accounting, Auditing, Actuarial Science and a lot more.</p>
			<a href="#" class="btn btn-outline-primary">
			  Consult
			</a>
		  </div>
		</div>
		<div class="col d-flex align-items-start">
		  <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
			<svg class="bi" width="1em" height="1em">
			  <i class="fa-solid fa-circle-check "></i>
			</svg>
		  </div>
		  <div>
			<h4>Others Coming Soon</h4>
			<p>Print Marketing, Digital Marketing and a lot more.</p>
			<a href="#" class="btn btn-outline-primary">
			  Sign Up
			</a>
		  </div>
		</div>

	  </div>
	</div>




</div>


</main>






{% endblock %}